<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Board@Work</title>
    <link rel="stylesheet" href="stylesheets/mainStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<header class='nav'>


    <img src='yawn.jpg' width=125px height=130px>
        
    <p><a href ="main.handlebars">Board@Work</a></p>
  

  <p><a href="admin.html">Admin</a></p>
</header>


<body>
    <div class='stickyNotes'>
        <ul>

            <li>
                <a>           
                    <section id='sticky1'>
                        
                        <h1>Announcements</h1>

                        {{#each announcements}}
                        <p>{{announcement}}</p>
                        {{/each}}
                        
                   
                </section>
            </a>
        </li>


            <li>
                <section id='sticky2'>
                    <a href=>
                        <h1>Inspiration</h1>

                        {{#each quotes}}
                        <p>{{quotes}}</p>
                        {{/each}}
                    </a>
                </section>
            </li>

            <li>
                <section id='sticky3'>
                    <a href=>
                      
                        <h1>Birthdays</h1>
                         {{#each birthdays}}
                          <p>{{birthdays}}</p>
                        {{/each}}
                    </a>
                </section>
            </li>

            <li>
                <section id='sticky4'>
                    <a href=>
                        
                        <h1>Reminders</h1>
                        {{#each reminders}}
                        <p>{{reminders}}</p>
                        {{/each}}
                    </a>
                </section>
            </li>

            <li>
                <section id='sticky5'>
                    <a href=>
                        <h1>Events</h1>
                        {{#each events}}
                        <p>{{events}}</p>
                        {{/each}}
                    </a>
                </section>
            </li>

            <li>
                <section id='sticky6'>
                    <a href=>
                        
                        <h1>To-Do</h1>
                        {{#each toDo}}
                        <p>{{toDo}}</p>
                        {{/each}}
                    </a>
                </section>
            </li>
    </div>

    </ul>

</body>

</html>
