<div>
  <div class='stickyNotes'>
    <ul>
      <li>
        <a>
          <section id='sticky1'>
            <h1>Announcements</h1>
              {{#each announcements}}
                <p>{{announcement}}</p>
              {{/each}}
          </section>
        </a>
      </li>

      <li>
        <section id='sticky2'>
          <h1>Quote of the Day</h1>
            {{#each quotes}}
              <p>{{quote}}</p>
            {{/each}}
        </section>
      </li>

      <li>
        <section id='sticky3'>
          <h1>Birthdays</h1>
            {{#each birthdays}}
              <p>{{birthdayMonth}} - {{employee}}</p>
            {{/each}}
        </section>
      </li>

      <li>
        <section id='sticky4'>
          <h1>Reminders</h1>
            {{#each reminders}}
              <p>{{reminder}}</p>
            {{/each}}
        </section>
      </li>

      <li>
        <section id='sticky5'>
          <h1>Upcoming Events</h1>
            {{#each events}}
              <p>{{event}}</p>
            {{/each}}
        </section>
      </li>

      <li>
        <section id='sticky6'>
          <h1>To-Do</h1>
            {{#each toDos}}
              <p>{{task}}</p>
            {{/each}}
        </section>
      </li>
  </div>
  </ul>
  </body>
  </html>
</div>